* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
* ul li {
  list-style: none;
}
* a {
  text-decoration: none;
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 64px 1fr 0.5fr;
  grid-template-rows: 64px 1fr 64px;
  position: relative;
  z-index: 1;
}
#main-container #main-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column: 2;
  grid-row: 2;
  gap: 1rem;
  background-color: rgb(154, 129, 129);
}
#main-container #main-section a {
  display: inline-block;
}
#main-container #main-section a img {
  width: 80px;
  height: 3rem;
}
#main-container #blur-background {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-column: 3;
  grid-row: 2;
  gap: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
  border-left: 12.8px solid rgba(221, 38, 38, 0.1);
}
#main-container aside {
  width: 80%;
  height: auto;
  display: grid;
  grid-column: 3;
  grid-row: 2;
  gap: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-left: 2.5rem;
  background-color: aqua;
}
#main-container aside .search-form {
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
#main-container aside .search-form input[type=search] {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 0.5rem;
  background-color: transparent;
  text-transform: capitalize;
  border-bottom: 0.1875rem solid white;
}
#main-container aside .search-form #search-button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: -2.8125rem;
  cursor: grabbing;
}
#main-container aside .search-form #search-button img {
  width: 100%;
  height: 100%;
  filter: invert(0);
}
#main-container aside #weather-details {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
#main-container aside #weather-details .current-weather-details {
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  gap: 1rem;
  text-transform: capitalize;
  gap: 2rem;
}
#main-container aside #weather-details .current-weather-details .current-weather-text-container {
  width: 100%;
  height: auto;
}
#main-container aside #weather-details .current-weather-details .current-weather-text-container .current-weather-text {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
#main-container aside #weather-details .current-weather-details .current-weather-info {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
#main-container aside .long-term-weather-details {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-top: 3px solid white;
}
#main-container aside .long-term-weather-details .next-days-weather-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
#main-container aside .long-term-weather-details .next-days-weather-info .week-days {
  width: 100%;
  height: auto;
}
#main-container aside .long-term-weather-details .next-days-weather-info .week-days div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}/*# sourceMappingURL=main.css.map */