#main-container {
  @include boxSize(100vw, 100vh);
  @include gridCenter(100vw, 100vh);
  grid-template-columns: 64px 1fr 0.5fr;
  grid-template-rows: 64px 1fr 64px;
  position: relative;
  z-index: 1;
  // background-color: rgb(203, 207, 133);
  #main-section {
    @include boxSize(100%, 100%);
    @include gridFlow(2, 2);
    background-color: rgb(154, 129, 129);
    a {
      display: inline-block;
      img {
        @include boxSize(80px, 3rem);
      }
    }
  }
  #blur-background {
    position: relative;
    @include boxSize(100%, auto);
    @include gridFlow(3, 2);
    backdrop-filter: blur(10px);
    z-index: -1;
    border-left: 12.8px solid rgba(221, 38, 38, 0.1);
  }
  aside {
    @include boxSize(80%, auto);
    @include gridFlow(3, 2);
    overflow-y: scroll;
    scrollbar-width: none;
    padding-left: 2.5rem;
    background-color: aqua;
    .search-form {
      @include boxSize(80%, 30%);
      @include flexCenter(center, center);
      padding-top: 2rem;
      input[type="search"] {
        @include boxSize(100%, 3rem);
        @include border();
        @include fonstStyle(1rem, 600, 0.1rem, 0.5rem);
        background-color: transparent;
        text-transform: capitalize;
        border-bottom: 0.1875rem solid white;
      }
      #search-button {
        @include boxSize(2rem, 2rem);
        background-color: transparent;
        @include border();
        margin-left: -2.8125rem;
        cursor: pointer;
        img {
          @include boxSize(100%, 100%);
          filter: invert(0);
        }
      }
    }
    #weather-details {
      @include boxSize(100%, 100%);
      @include flexCenter(center, left);
      @include verticalFlex(4rem);
      .current-weather-details {
        @include boxSize(100%, 100%);
        @include fonstStyle(1.25rem, 700, 0.05rem, 1.5rem);
        @include gridFlow(1, 1);
        text-transform: capitalize;
        gap: 2rem;
        .current-weather-text-container {
          @include boxSize(100%, auto);
          .current-weather-text {
            @include fonstStyle(1.25rem, 700, 0.05rem, 1.5rem);
            text-transform: uppercase;
          }
        }
        .current-weather-info {
          @include boxSize(100%, auto);
          @include grid(repeat(3, 1fr), 2rem);
        }
      }
    }
    .long-term-weather-details {
      @include boxSize(80%, 100%);
      @include verticalFlex(4rem);
      border-top: 3px solid white;
      .next-days-weather-info {
        @include boxSize(100%, auto);
        @include verticalFlex(4rem);
        .week-days {
          @include boxSize(100%, auto);
          div {
            @include grid(repeat(3, 1fr), 1rem);
            @include fonstStyle(1.5rem, 500, 0.1rem, 1.5rem);
          }
        }
      }
    }
  }
}
